<!DOCTYPE html>
<html>
<head>
  <title> Thông báo về lịch chích ngừa của trẻ {{TenTre}}</title>
  <meta charset="utf-8" />
</head>
<body>
  Thân gửi ông/bà {{TenPH}},<br />
  Trạm Y Tế xin thông báo về lịch chích ngừa định kỳ của trẻ: {{TenTre}}.<br />
  Đã đến kỳ tiêm chủng: {{TenKyTiem}}, lần {{LanThu}}<br />
  Vui lòng đưa trẻ đến trạm y tế để được tiến hành tiêm chủng đúng kỳ hạn.<br />
  Ngày tiêm: {{NgayTiem}}.<br />
  Thời gian:<br />
  + Sáng: Từ 8h đến 11h.<br />
  + Chiều: Từ 13h đến 17h.<br />
  Địa điểm tiêm chủng: 419 Âu Cơ, Phú Trung, Tân Phú, Thành phố Hồ Chí Minh.<br />
  Ghi chú: Khi đi mang theo sổ tiêm chủng của bé.<br />
  Từ: Trạm Y Tế Phường Phú Trung Quận Tân Phú.
</body>
</html>


<!-- CustomerName: TenTre -->
<!-- CustomerName: TenPH -->
<!-- Email: NgayTiem -->