
@{
  Layout = null;
}

<!DOCTYPE html>
<html lang="vi">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Quên mật khẩu</title>
  <link rel="stylesheet" href="~/Content/Login.css">
  <style>
    .btn-ql {
      cursor: pointer;
      width: 32%;
      position: relative;
      height: 40px;
      top: 15px;
      background-color: #e04d4d;
      /* color: white; */
      border-radius: 11px;
    }

    a {
      text-decoration: none;
      font-size: 15px;
      color: #fff;
      position: unset;
    }

    .disabled-hover a {
      pointer-events: none;
    }

  </style>
</head>

<body class="align">


  <div class="login-box">
    <h2>Quên mật khẩu</h2>
    <br />
    <form action="/Home/ForgotPassword" method="POST" class="form login">

      <div class="user-box">
        <label for="login__username">

        </label>

        <input autocomplete="username" id="loginUsername" type="text" name="TenTK" class="form__input" placeholder="Tên đăng nhập" required>
        <p class="helper helper1"></p>
        @TempData["mess1"]
      </div>

      @* <div class="form__field" style=" display: flex; justify-content: space-between">
      <button class="btn-ql" onclick="window.history.go(-1);">
        Quay lại
      </button>
      <input type="submit" value="Tiếp tục">

    </div> *@

      <div class="form__field" style=" display: flex; justify-content: space-between">
        <button class="btn-ql disabled-hover" type="button">
          @Html.ActionLink("Quay lại", "Index")
        </button>
        <input type="submit" value="Tiếp tục">

      </div>

    </form>
  </div>

</body>
</html>

