@media (max-width:370px) {
    nav .navbar .nav-links {
        max-width: 100%;
    }
}

.fa-bars {
    font-size: 15px;
}

.al {
    padding-top: 100px !important;
    padding-bottom: 150px;
}

.btn.nv.btn {
    border: 1px solid black;
    padding:2px
}

.nv {
    background: white;
    border: 1px solid rgb(0, 0, 0);
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    color: rgb(255, 255, 255);
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-weight: 600;
    border: 1px solid black;
}

.nv1 {
    background: royalblue;
    border: 1px solid rgb(255, 255, 255);
    width: 100px;
    text-align: center;
    height: 30px;
    border-radius: 5px;
    color: white;
    margin-left: auto;
    margin-right: auto;
    font-weight: 600;
}

.nv:hover, .nv:active {
    background: white;
    /* border: 1px solid black;*/
    color: black;
}

.nv1:hover, .nv1:active {
    background: white;
    border: 1px solid black;
    color: black;
}

thead tr th {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 600;
    background: #006bcf;
    text-align: center !important;
}

tbody tr td {
    text-align: left;
    color: black;
    font-weight: 600;
}

.ds {
    font-size: 30px;
    color: black;
}

#myInput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    width: 30%;
    font-size: 14px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
    border-radius: 20px;
    outline: none !important;
    position: relative;
    top: -37px;
    left: 30px;
}

.header {
    color: rgb(255, 255, 255);
    font-size: 13px;
    background: #006bcf;
}

#myTable {
    border-collapse: collapse;
    width: fit-content;
    border: 1px solid #ddd;
    font-size: 12px;
    padding: 0px !important;
}

    #myTable th,
    #myTable td {
        text-align: left;
        padding: 24px;
        padding-bottom: 15px;
        padding-top: 15px;
    }

    #myTable tr {
        border-bottom: 1px solid #ddd;
    }


form input {
    width: 45%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 30px;
    height: 40px;
}

.end {
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: 600;
}

.col-lg-12 a {
    color: royalblue;
}

    .col-lg-12 a:hover {
        text-decoration: none;
        color: green;
    }

#topBtn {
    position: fixed;
    bottom: 90px;
    right: 40px;
    font-size: 12px;
    width: 30px;
    height: 30px;
    background: rgb(0, 0, 0);
    color: rgb(236, 236, 236);
    border: none;
    cursor: pointer;
    display: none;
    opacity: 1;
    opacity: 0.9;
}





#clock {
    text-align: center;
    float: right;
    border-radius: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-size: 13px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.background-modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto;
    border: 1px solid #888;
    width: 80%;
    text-align: left;
    border-radius: 12px;
}

.dataTables_filter {
    display: none;
}

.sorting {
    background: none !important;
}

#myTable table {
    padding: 0px 0px 0px 0px !important;
    border-bottom: 1px solid black;
    font-weight: bold;
    cursor: pointer;
}

.pagination {
    float: right;
}

.hr1 {
    border: 1px solid black;
}

.link i {
    margin-left: 20px;
    padding: 10px 10px 10px 10px;
    border: 2px solid black;
    border-radius: 50%;
}

.link {
    padding-bottom: 20px;
}

.table-title {
    padding-bottom: 10px;
    margin: 0 0 10px;
    position: inherit;
    padding-left: 20%;
    padding-top: 1px
}

    .table-title h2 {
        margin: 108px 11px -31px 6px;
        font-size: 22px;
    }
       

    .table-title .add-new {
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        text-shadow: none;
        min-width: 100px;
        border-radius: 50px;
        line-height: 13px;
    }

        .table-title .add-new i {
            margin-right: 4px;
        }

table.table {
    table-layout: fixed;
}

    table.table tr th, table.table tr td {
        border-color: #e9e9e9;
    }

    table.table th i {
        font-size: 13px;
        margin: 0 5px;
        cursor: pointer;
    }

    table.table th:last-child {
        width: 100px;
    }

    table.table td a {
        cursor: pointer;
        display: inline-block;
        margin: 0 5px;
        min-width: 24px;
    }

        table.table td a.add {
            color: #27C46B;
        }

        table.table td a.edit {
            color: rgb(23, 45, 250);
        }

        table.table td a.delete {
            color: #E34724;
        }

    table.table td i {
        font-size: 15px;
    }

    table.table td a.add i {
        font-size: 15px;
        margin-right: -1px;
        position: relative;
        top: 3px;
    }

    table.table .form-control {
        height: 32px;
        line-height: 32px;
        box-shadow: none;
        border-radius: 2px;
    }

        table.table .form-control.error {
            border-color: #f50000;
        }

    table.table td .add {
        display: none;
    }

.modal-3 li a {
    border: 1px solid black !important;
    color: #000000 !important;
    font-size: 12px;
}

.pg-normal {
    color: #006bcf;
    font-weight: normal;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
    text-align: center;
}

.pg-selected {
    color: black;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    text-align: center;
}

.list-btn {
    display: flex;
}

.btn-admin,
.btn-green,
.btn-delete {
    display: flex;
    margin-right: 10px;
}

    .btn-admin button {
        color: #fff;
        background-color: #022b44;
        border-color: #696cff;
        box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
        border: none;
        padding: 10px;
        margin: 10px 0px 20px 0px;
        border-radius: 3px;
        transition: all ease-in-out 0.2s;
    }

        .btn-admin button:hover {
            transform: scale(1.05);
        }

    .btn-green button {
        color: #fff;
        background-color: #0c7db1;
        border-color: #696cff;
        box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
        border: none;
        padding: 10px;
        margin: 10px 0px 20px 0px;
        border-radius: 3px;
        transition: 0.2s;
    }

        .btn-green button:hover {
            transform: scale(1.05);
        }

    .btn-delete button {
        color: #fff;
        background-color: #b51414;
        border-color: #696cff;
        box-shadow: 0 0.125rem 0.25rem 0 rgb(105 108 255 / 40%);
        border: none;
        padding: 10px;
        margin: 10px 0px 20px 0px;
        border-radius: 3px;
        transition: 0.2s;
    }

.filter {
    margin: 10px 10px 10px 0px;
}

.fil {
    display: flex;
    align-items: center;
}

.fil-input {
    width: 50%;
    display: flex;
}

    .fil-input input {
        height: 30px;
        width: 100%;
        margin: 0px 10px 0px 0px;
    }

.fil-btn {
    margin-left: 10px;
}

    .fil-btn button {
        width: 120px;
        height: 30px;
        padding: 5px 2px;
        outline: none;
        font-size: 12px;
        transition: 0.2s;
        border-radius: 17px;
        background-color: #006bcf;
        color: white;
    }

        .fil-btn button:hover {
            transform: scale(1.05);
        }
